/* Hero Section - Exclusivo da Página Inicial (Home) */
.hero-section {
  height: calc(100vh - 80px);
  background-image: url("./img/heroindexluislima.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
}

/* Ajuste do Hero para Celular */
@media (max-width: 600px) {
  .hero-section {
    height: 60vh;
    background-attachment: scroll;
  }
}